.card_container{
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin:0;
    justify-content: center;
    flex-wrap: wrap;

}

.card{
    background: #39603D;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
    color:white;
    text-align: center;



}
.card-image{
    background-color:#F1B24A ;
    height:200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1{
    background-image:url('https://i.pinimg.com/564x/b8/3a/75/b83a7567d47b6068e90bb647cd501d6a.jpg');

}
.car-2{
    background-image:url('https://i.pinimg.com/564x/d1/20/e9/d120e97536799680628f0b342c213cdd.jpg');

}
.car-3{
    background-image:url('https://i.pinimg.com/564x/2b/6c/e6/2b6ce689f962632af195e522edb5f592.jpg');

}
.car-4{
    background-image:url('https://i.pinimg.com/564x/f5/74/dd/f574dd381abce11def0f213f7ebf90c0.jpg');

}
.car-5{
    background-image:url('https://i.pinimg.com/564x/f5/74/dd/f574dd381abce11def0f213f7ebf90c0.jpg');

}
.card h2{
    padding: 10px;
    font-family: 'Homemade Apple', cursive;
}
.card a{
    background-color: #F1B24A;
    color:white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}
.card:hover{
    background-color: #9DC88D;
    color: white;
    cursor: pointer;
    transform:scale(1.03);
    transition: all 1s ease;
}